.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  color: transparent;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active {
  color: inherit;
}

.active-menu {
  position: relative;
  padding-left: 16px;
  &::before {
    content: '';
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0px;
    display: block;
    height: 6px;
    width: 6px;
    transform: translateY(-50%) rotate(45deg);
  }
}
